/* Color Theme Swatches in Hex */

/* 
.principal { color: #0D0C08; }
.Arquitetura-2-hex { color: #403222; }
.destaque { color: #8C7456; }
.background { color: #D9AB82; }
.Arquitetura-5-hex { color: #8C543F; }
*/


html {
    background: #D9AB82;
    color: #0D0C08;

    font-size: 18px;
    font-family: Arial, sans-serif;
}

p {
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary {text-align: right;}
.main p {line-height: 1.5;}

abbr {font-variant: small-caps;}