.main footer {
    margin: 4%;
  }
  
  .tabela {
    border-collapse: collapse;
  }
  
  .tabela td {
    border: 1px solid #000; 
    padding: 8px;
    text-align: left;
  }
  .tabela th {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }